<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
<th:block layout:fragment="content">
    <span th:text="${article.title}"></span><br>
    <span th:text="${article.content}"></span><br>
    <span th:text="${article.creator.getLoginId()}"></span><br>
    <span th:text="${article.creator.getName()}"></span><br>
    <br>
    <span th:text="${article.modifier.getLoginId()}"></span><br>
    <span th:text="${article.modifier.getName()}"></span><br>
<!--    <span th:text="${article.files.get(0).getName()}"></span><br>-->
</th:block>
</body>
</html>