<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
    <th:block layout:fragment="content">
        메인 페이지<br>
        <a th:href="@{/member/login/page}">로그인 페이지</a><br>
        <a th:href="@{/article/create/form}">글 등록 페이지</a><br>
    </th:block>
</body>
</html>